div {
  width: 500px;
  height: 100px;
  background-color: orange;
  transition: 1s;
  
}

a:hover{
  color: blue;
}

div.box1:active{
  background: black;
}

div.box:focus{
  width: 1000px;
  background: blue;
}

.text:focus{
  background: red;
}

.fruits *:not(span){
  color: brown;
}


/* br도 포함되서 순서가 발생함 */
.fruits *:nth-child(2){
  font-size: 100px;
  border: 10px solid black;
  color: red;
}


/* after, before -> 인라인 요소, 따라서 모양을 적용하려면 block 요소로 변경 필요 */
.afterbefore::after{
  content: "1-1-1";
  color: blue;
}

.afterbefore::before{
  content: "before";
  display: inline-block;
  width: 50px;
  background: yellow;
}


/* 속성 선택해서 변경 */
[disabled]{
  background:red;
}

[input]{
  color: aqua;
}
[type="password"]{
  background-color: green;
}
[data-fruit-name]{
  color:blueviolet;
  font-size: 50px;
}

/* inherit - 부모속성을 강제로 상속 ->부모요소만 수정하여 자식요소들 전체 수정 가능*/
.parent{
  width: 200px;
  height: 300px;
  background: red;
}
.child{
  width: 200px;
  height: inherit;
  background: inherit;
  position: fixed;
  top: 500px;
  right: 10px;
}