
.container .item{
  width: 100px;
  height: 100px;
  background: orange;
}

.container .item:first-child{
  /* border: 10px solid red;
  border: 10px dashed red; */
 /* 선종류- dashed, dotted, double, groove, ridge, inset, outset */
  padding: 20px;
  box-sizing: border-box;
 /* 전체 박스 사이즈를 width 값으로 계산 - 그 안에 padding 선 두께 포함됨 */
}

.radius{
  width: 100px;
  height: 100px;
  background: blue;
  /* border-radius: 10px; */
  border-radius: 20px 0 50px 10px;
}

.parent{
  width: 300px;
  height: 150px;
  background: royalblue;
  margin: 50px;
  padding: 20px;
  overflow: visible;
  /*자식요소의 넘치는 부분을 그대로 보여줌*/
  /* overflow: hidden; */
  /*자식요소의 넘치는 부분을 감춤*/
  /* overflow: scroll; */
  /*자식요소의 넘치는 부분을 가로세로 전부 스크롤바 생성*/
  /* overflow: auto; */
 /* 자식요소의 넘치는 부분만 스크롤로 보여줌-주로 사용됨 */
}
.child{
  width: 500px;
  height: 100px;
  background: rgb(247, 165, 12);
  opacity: .5;
  /* 불투명 - 0~1사이 (1이 불투명) */
}

h1{
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
}

p{
  line-height: 1.4;
  /* 줄간격은 배수로 적용 권장 */
  margin: 20px;
  font-family: serif, sans-serif, monospace, cursive, fantasy;  
  /* 앞쪽부터 가능한 글꼴을 적용시도 */
  text-indent: 50px;
  /* +값 들여쓰기, -값 내어쓰기 */
}

a{
  display: block;
  margin: 20px;
  width: 200px;
  height: 100px;
  background: green;
  font-size: 22px;
  color: white;
  text-decoration: none;
  text-align: center;
  
}

.image{
  width: 200px;
  height: 200px;
  margin: 50px;
  background: orchid;
  background-image: url("../images/logo.png");
  
  /* <삽입된 이미지관련 속성> */
  background-size: 50px;
  /* 배경 이미지 사이즈 조절 - 배경크기 보다 작으면 기본적으로 바둑판식으로 배열됨 */
  background-size: cover;
  /* 가로넓이를 맞춤 */
  background-size: contain;
  /* 가로세로중 짧은 넓이에 맞춤 - 전체 그림 보존 */
  
  background-repeat: no-repeat;  
  background-position: center;
  background-position: 10px, 20px;
  
  background-attachment: fixed;
  /* 뷰포트에 고정됨 */
  background-attachment: scroll;
}

