body{
  height: 3000px;
}
.wrap{
  width: 400px;
  height: 500px;
  background: tomato;
  position:relative;
}
.container{
  width: 300px;
  height: 400px;
  background: royalblue;
  /* position: relative; */
  /* position값 미설정시 기본 static 값 적용 */
}

.container .item{
  border: 4px dashed red;
  background-color: orange;
}

/* positinon absolute, fised로 설정시 자동으로 display속성을 block으로 변경됨 */
/* 순서는 먼저 position이 설정되어 있는지 확인 후 z-index값이 낮은요소, 구조적으로 나중에 만들어진 요소가 맨 위에 위치*/
.container .item:nth-child(1){
  width: 100px;
  height: 100px;
  position:relative;
  z-index:2;
}
.container .item:nth-child(2){
  width: 140px;
  height: 70px;
  /* position: relative; */
  /* relative는 실제 거의 사용되지 않음 */
  position:absolute;
  background-color: yellow;
  top: 50px;
  left: 30px;
}
.container .item:nth-child(3){
  background: green;
  width: 70px;
  height: 100px;
  position: fixed;
  /* fixed는 무조건 뷰포트를 기준 */
  left: 10px;
  top: 50px;
  z-index: 1;
}
